* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-box {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dictionaryForm > input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#dictionaryForm > button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.search-answer {
  padding: 20px;
}

.search-answer > h2 {
  margin-bottom: 20px;
}

.search-answer > ol {
  margin-left: 20px;
}
